
@{
    ViewBag.Title = "AddHouse";
}

<h2>Add House</h2>

<form id="AddHouse" action="/Home/AddHouse_2" method="post">
    <label>Area</label><br>
    <input type="text" name="Area" required><br><br>
    <label>Address</label><br>
    <input type="text" name="Address" required><br><br>
    <label>Marlas</label><br>
    <input type="number" name="Marlas" required><br><br>
    <label>Price</label><br>
    <input type="number" name="Price" required><br><br>

    <input type="submit" value="AddHouse">
</form>