@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View & Edit House</h2>
<form id="SelectHouse" action="/Home/SelectHouse" method="post">
    <input type="submit" value="Select House"/>
</form>

<h2>Add House</h2>
<form id="AddHouse" action="/Home/AddHouse" method="post">
    <input type="submit" value="Add House"/>
</form>