@model IEnumerable<Assignment_3.Models.Houses>
@{
    ViewBag.Title = "SelectHouse";
}

<h2>Select House</h2>

<form action="/Home/ViewHouse" method="post">

    <label for="house">Choose Location:</label>
    <select name="Area">
        @foreach (var a in Model)
        {
            <option name="@a.Area">@a.Area</option>
        }
    </select>

    <input type="submit" value="View">
</form>

